/* Base CSS styling */

body {
  font-family: sans-serif;
  background: linear-gradient(to bottom, #eeeeee, white 70%, #fffffc );
  background-attachment: fixed;
}

a {
  cursor: pointer;
}

/* Styling for top bar, navigation */
#top-bar {
  background-color: rgb(242, 242, 242);
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

#nav-search-input, #search-yelp {
  padding: 5px 35px 5px 15px;
  background-color: white;
  border-radius: 15px;
  border-color: rgb(192, 189, 193);
  border-width: 2px;
  border-style: solid;
  text-overflow: ellipsis;
  outline: none;
}

.search-button {
  right: 8%;
  align-self: center;
  position: relative;
  background-color: transparent;
  border: none;
}

#home-btn, #book-btn {
  margin-left: 50px;
  color: gray;
  transition: color 0.3s;
  font-size: 18px;
}

#home-btn:hover, #book-btn:hover {
  color: rgb(55, 55, 55);
  font-weight: 500;
}

#sign-in-nav-link, #sign-out-nav-link {
  margin-right: 50px;
  font-size: 18px;
  transition: color 0.3s;
}

#user-signout, #user-signin {
  padding: 7px 10px 7px 10px;
}

/* Styling for sign-ins and sing-ups */
.modal-content-sign {
  display: grid;
  grid-template-columns: 200px 1fr; 
  gap: 20px; 
}

.modal-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.modal-dialog {
  max-width: 700px;
  max-height: 600px;
}

.modal-body {
  max-height: calc(100vh - 40px); /* can be changed for space for header/footer */
  overflow-y: auto;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content button.close {
  position: absolute;
  text-align: left;
  top: 1.5px;
  right: 12px;
  font-size: 32px;
  z-index: 9999;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

button#modal-signin-back, button#modal-signup-back {
  position: absolute;
  left: 40%;
  margin-top: 15px;
  font-size: 20px;
  z-index: 9999;
  cursor: pointer;
  width: 70px;
  border: none;
  background-color: transparent;
}

button#user-signin, button#user-signup {
  border: none;
  border-radius: 3px;
  width: 100%;
  font-family: sans-serif;
  font-weight: 400;
  background-color: rgb(115, 142, 124);
  color: white;
  transition: background-color .1s ease-in-out,color .1s ease-in-out;
  padding: 7px 7px 7px 7px;
  margin-top: 7px;
  margin-bottom: 7px;
}

button#user-signin:hover {
  background-color: #445549;
} 

.modal-img {
  height: 400px;
  width: 200px;
  overflow: hidden;
}

.element {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.element label {
  font-weight: 500;
  display: block;
  font-size: 14px;
  color: #222;
  margin-bottom: 3px;
}

.element input {
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #aaa;
  background: #eee;
  border-radius: 2px;
}

.element .myInput {
  background-color: white;
  border-radius: 8px;
  border-color: #aaa;
}

form.signin {
  padding-bottom: 30px;
}

.status {
  font-weight: 200;
  font-size: .75rem;
  color: rgba(52, 55, 53, 0.3)
}

.message {
  color: red;
  font-weight: 200;
  max-width: 400px;
}

.sign-up {
  color: black;
}

.sign-in-email:hover, .sign-up:hover {
  color:#294440;
}


/* Styling the modal image */
.modal-img img {
  width: 100%; 
  height: auto;
}

/* Modal popup for deleting meetings */
.modal-footer-alert {
  justify-content: center;
}

/* Footer */
footer {
  /* display: none; */
  opacity: 0;
  transition: opacity 0.3s ease; 
  background-color: rgb(242, 242, 242);
  color: #595959; /* Text color */
  text-align: center;
  padding-top: 12px;
  padding-bottom: 2px;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: 50px;
  left:0;
}

