{% extends 'base.html' %}
{% block title %} Read and Meet {% endblock %}

{% block body %}

<div class="container-fluid">
    <div id="container-books"></div>
</div>

<!-- Building React components here: CAROUSEL WITH BOOKS IMAGES -->
<div class="container-fluid">
    <div id="container-carousel"></div>
</div>

<!-- Building React Meeting Table components here -->
<div class="container-fluid">
    <div id="container-data"></div>
</div>

{% endblock %}
{% block js %}
<script src="/static/jsx/index.jsx" type="text/jsx"></script>
<script src="/static/jsx/books.jsx" type="text/jsx"></script>
<script src="/static/jsx/bookDetails.jsx" type="text/jsx"></script>
<script src="/static/jsx/App.jsx" type="text/jsx"></script>
{% endblock %}