{% extends 'base.html' %}
{% block title %} Read and Meet {% endblock %}

{% block body %}
<!-- CAROUSEL WITH BOOKS IMAGES -->
<div class="carousel-container">

</div>

<div class="container-fluid">
    <div id="container"></div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Book</th>
                <th scope="col">Day</th>
                <th scope="col">Place</th>
                <th scope="col">Online</th>
                <th scope="col">Few words</th>
                <th scope="col">Video note</th>
                <th scope="col">Language (English, if not specified)</th>
                <th scope="col"> Guests (max specified)</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Canteloupe</td>
                <td>Something</td>
                <td>Tan</td>
                <td>Italy</td>
                <td>Canteloupe</td>
                <td>Pfff</td>
                <td>Tan</td>
                <td>Italy</td>
                <td>Button</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
{% block js %}
<script src="/static/jsx/index.jsx" type="text/jsx"></script>
{% endblock %}